@import "../../../styles/variables.scss";

.user-input-section {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2rem;
}
