$primary-color: #DC4040;
$white-color: #FFF;
$black-color: #000000;
$black-color-100: rgba(0, 0, 0, 0.25);
$gray-color-400: #F8F8F8;
$pink-color-400: #F59791;

$montserrat-font : "Montserrat", sans-serif;