$primary-color: #DC4040;
$white-color: #FFF;
$black-color: #000000;
$black-color-100: rgba(0, 0, 0, 0.25);
$gray-color-400: #F8F8F8;
$pink-color-400: #F59791;
$pink-color-600: rgba(220, 64, 64, 0.25);
$pink-color-300: #FFDBDB;
$cyan-color: #00D8FF;
$black-color-200: #3D3D3D;
$gray-color-200: #D5D5D5;


$montserrat-font : "Montserrat", sans-serif;