$primary-color: #dc4040;
$white-color: #fff;
$black-color: #000000;
$black-color-100: rgba(0, 0, 0, 0.25);
$gray-color-400: #f8f8f8;
$pink-color-400: #f59791;
$pink-color-600: rgba(220, 64, 64, 0.25);
$pink-color-300: #ffdbdb;
$cyan-color: #00d8ff;
$black-color-200: #3d3d3d;
$gray-color-200: #d5d5d5;
$gray-color-600: #9c9c9c;

$montserrat-font: "Montserrat", sans-serif;
